<!DOCTYPE html>
<html lang="en-US" xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <%- include("parts/head",{
      title: "<%= title %>",
      description: "<%= description %>"
    }) %>
  </head>
  <body data-bs-theme="light">
    <%- include("parts/symbols") %>
    <%- include("parts/nav") %>
    <main>
      <%= body %>
    </main>
  </body>
</html>